* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(5, 2, 8);
       display: flex;
    gap: 100px;
    flex-direction:row;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px 5%;

}
#volta{
    font-size: 35px;
    color:yellow

}
   header h1 {
    color: rgb(179, 219, 34);
    font-size: 50px;
    text-align: center;
    flex-direction: row;
}
header p {
    text-align: center;
    font-size: 30px;
    color: rgb(202, 221, 33);
}
.car {
    background-color: yellow;
    margin: 50px;
     border-radius: 20px;
     padding: 15px;
     width: 32%;
     text-align: center;
     flex-direction: row;
}
#logo{
    text-align: center;
    font-size: 30px;
    color: rgb(4, 5, 6);
    background-color: yellow;
    border-radius: 40px;
display: flex;
justify-content:space-around;
align-items: center;


}
#logo img {
     border-radius: 3000px;
     width: 200px;
     height: 150px;
}
.img-carro img {
    border-radius: 20px;
     width: 350px;
    height: 300px;
}
.img-carro {
    font-size: 30px;
        background-color: yellow;
    margin: 50px;
      border-radius: 19px;
     padding: 15px;
     width: 32%;
     text-align: center;
     flex-direction: row;
     flex-wrap: wrap;
}
body {
    background-color: rgba(183, 188, 189, 0.589);
}
.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}
footer {
    background-color: rgb(0, 0, 0);
    color: yellow;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding: 10px;
    font-size: 40px;
}
h3 {
    text-align: center;
}
#pai {
    background-color: crimson;
    color: rgb(7, 7, 7);
    padding: 15px;
    margin: 30px;
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
}
a {
    text-decoration: none;
}
