* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#volta{
    font-size: 36px;
    color: yellow;
}
header{
     background-color: black;
}
header{
    color: yellow;
    display: flex;
    gap: 100px;
    flex-direction:row;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px 5%;
}

header h1{
    text-align: center;
    font-size: 60px;

}
header p{
    text-align: center;
    font-size: 40px;
}
h2 {
    text-align: center;
    font-size: 60px;

}
p {
    font-size: 30px;
}
body {
background-color: rgba(183, 188, 189, 0.589);
}
footer {
 background-color: rgb(8, 8, 8);
 color: yellow;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding: 10px;
}

#loja img{
border-radius: 30px;
height: 600px;
width: 500px;
}
#historia {
     background-color: yellow;
     color: black;
    border-radius: 20px;
    margin: 50px;
     padding: 15px;
     width: 50%;
     height: 600px;
     text-align: center;
     flex-direction: row;

}

#pag2 {
    display: flex;
    gap: 4%;
    padding: 20px;
    border-radius: 100px;
    align-items: center;
}
a {
    text-decoration: none;
}
#site-externo {
    background-color: crimson;
    color: rgb(7, 7, 7);
    padding: 15px;
    margin: 30px;
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
}
