* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#volta{
    font-size: 35px;
    color:black;
}
header{ 
     background-color: rgb(231, 255, 11);
}
header{
    color: rgb(109, 6, 243);
    display: flex;
    gap: 100px;
    flex-direction:row;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px 5%;
}

header h1{
    text-align: center;
    font-size: 60px;
   
}
header p{
    text-align: center;
    font-size: 40px;
}
h2 {
    text-align: center;
    font-size: 60px;

}
p {
    font-size: 30px;
}
body {
    background-color: rgb(211, 190, 190);
}
footer {
 background-color: rgb(89, 2, 230);
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding: 10px;
}

#loja img{
border-radius: 30px;
height: 600px;
width: 600px;
}
#historia {
     background-color: rgb(112, 26, 43);
    border-radius: 20px;
    margin: 50px;
     padding: 15px;
     width: 100%;
     height: 600px;
     text-align: center;
     flex-direction: row;

}
#historia p {
    color: aqua;
}
#pag2 {
    display: flex;
    gap: 4%;
    padding: 20px;
    border-radius: 100px;
    align-items: center;
}
a {
    text-decoration: none;
}
#site-externo {
    text-align: center;
    font-size: 30px;
}