* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    color: #4f5555;
    background-color: #FCBB97;
    display: flex;
    gap: 100px;
    flex-direction:row;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px 5%;
}

#nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a {
    text-decoration: none;
}
#header-link{
  display: flex;
  gap: 20px;
  align-items: center;
  text-decoration: none;
}

#header-link p{
 color: rgb(196, 74, 70);
 font-weight: bold;
 font-size: 15px;
 background-color: rgba(102, 102, 238, 0.452);
 border-radius: 20px;
 text-decoration: none;
}

header h1 {
    text-align: center;
    font-size: 60px;
   
}
header img {
    width: 200px;
    height: 90px;
    border-radius: 50px;
}
body {
    background-color: #7f8b8d;
}

footer {
    background-color: #91A7A7;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding: 10px;
}
.bum {
    font-size: 50px;
    background-color: rgb(156, 224, 255);
    text-align: center;
    height: 400px;
      font-size: 50px;
}
.car{
 background-color: #FCBB97;
     display: flex;
    border-radius: 10px;
        font-size: 30px;
    margin: 10px;
     padding: 15px;
     width: 32%;
     text-align: center;
     flex-direction: row;
    
}
.car img {
    width: 600px;
    height: 300px;
    border-radius: 20px;
}
.sep {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bum {
     background-image: url('../assets/img/buner-index.png');
    font-size: 50px;
    background-color: rgb(89, 2, 230);
    text-align: center;
    height: 400px;
      font-size: 50px;
}
h2 {
    font-size: 40px;
    padding: 5px;
}
h3 {
    font-size: 40px;
    padding: 5px;
}
p {
    font-size: 40px;
    padding: 2px;
}

#ta {
    text-align: center;
     display: flex;
     align-content: center;
     justify-content: center;
     font-size: 50px;
}
#historia {
    background-color: rgb(112, 26, 43);
    border-radius: 20px;
    margin: 50px;
     padding: 15px;
     width: 32%;
     text-align: center;
     flex-direction: row;
      color: rgb(255, 254, 253);
}
#ofertas {
    background-color: rgb(39, 98, 133);
    border-radius: 20px;
    margin: 50px;
     padding: 15px;
     width: 32%;
     text-align: center;
     flex-direction: row;
     color: rgb(255, 254, 253);
}
#ofertas img{
border-radius: 20px;
}
#historia img{
height: 300px;
width: 350px;
border-radius: 20px;
}
#iu {
    display: flex;
    gap: 8%;
    align-items: stretch;
    justify-content: space-around
}
#iu a{
color: rgb(250, 246, 4);
text-decoration: none;
}

